<html>
<head>

    <title>Navigation Bar</title>




    <link href="~/Assets/css/wedding.css" rel="stylesheet" />

    <link href="~/Scripts/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">

                <a class="navbar-brand navbar-left" href="#">Kelley Blue Book</a>

                <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">

                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
            </div>

            <div class="collapse navbar-collapse navHeaderCollapse">


                <ul class="navbar-right navbar-nav">

                    <li class="active"><a href="#">Home</a></li>
                    <li class="dropdown">


                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social Media</a>
                        <ul class="dropdown-menu">

                            <li><a href="#">FaceBook</a></li>
                            <li><a href="#">Instagram</a></li>



                        </ul>


                    </li>

                    <li><a href="#">Contact</a></li>

                </ul>
            </div>
        </div>
    </nav>






    <div class="container-fluid ">
        <div class="row content">
            <div class="col-xs-4">
                <div class="text-center">
                    Is it a Palindrome?
                </div>
                <div class="text-center">
                    <input class="text-center" type="text" id="palindrome" placeholder="Enter word" />
                </div>
                <div class="text-center">
                    <button id="palSubmit">Submit</button>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="text-center">
                    FizzBuzz
                </div>

                <div class="text-center">
                    <input class="text-center" id="fizzBuzz" placeholder="Enter Number" />
                </div>

                <div class="text-center">
                    <button id="fizzSubmit">Submit</button>
                </div>

            </div>
            <div class="col-xs-4">
                <div class="text-center">
                    Fibonnaci Squence
                </div>

                <div class="text-center">
                    <input class="text-center" id="fib" placeholder="Enter Number" />
                </div>
                <div class="text-center">
                    <button id="fibSubmit">Submit</button>
                </div>
            </div>

        </div>
        <div class="row output">
            <div class="col-xs-4">


            </div>
            <div class="col-xs-4 fizzAppend text-center">

            </div>
            <div class="col-xs-4">


            </div>
        </div>

    </div>






    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script type="text/javascript">

        kbb = {};
        kbb.page = {};

        $(document).ready(function ($) {





            $("#palSubmit").on("click", kbb.page.palindrome);

            $("#fizzSubmit").on("click", kbb.page.fizzbuzz);

            $("#fibSubmit").on("click", kbb.page.fibonnaci);

            //$(".btnSend").on("click", kbb.page.valuePost)

        });



        kbb.page.palindrome = function () {
            event.preventDefault();

            console.log("in palindrome");

            var palWord = $("#palindrome").val().toLowerCase();


            if (palWord == palWord.split('').reverse().join('')) {

                alert("It is a Palindrome!");
            }

            else {

                alert("It is NOT a Palindrome!");
            }
        };





        kbb.page.fizzbuzz = function () {

            event.preventDefault();

            $(".fizzAppend").empty();

            var fizzbuzz = $("#fizzBuzz").val();





            for (i = 1; i <= fizzbuzz; i++) {

                // var fizzTemp = $(".fizzTemp").clone();
                //var fizzTempHtml = fizzTemp.html();


                if (i % 15 == 0) {
                    //fizzTempHtml.find(".fizzList").html("fizzbuzz")
                    $(".fizzAppend").append("fizzbuzz</br>")
                    //console.log("fizzbuzz")
                }
                else if (i % 5 == 0) {
                    // fizzTempHtml.find(".fizzList").html("buzz")
                    $(".fizzAppend").append("buzz</br>")
                    //console.log("buzz")
                }

                else if (i % 3 == 0) {
                    //fizzTempHtml.find(".fizzList").html("fizz")
                    $(".fizzAppend").append("fizz</br>")
                    // console.log("fizz")
                }
                else {
                    //fizzTempHtml.find(".fizzList").html(i)
                    $(".fizzAppend").append(i + "<br>")
                    //console.log(i)
                }

            }


            //fizzTempHtml.appendTo(".fizzAppend");



        };

        kbb.page.fibonnaci = function () {

            var arr=["kelley","blue","book"]
            var newArr = arr.join();


            var count = 0;
            for (var i = 0; newArr.length > i; i++) {
                if (newArr.charAt(i) == 'e') {
                    ++count;
                }
            }
            console.log(count);    // 7





        };

        $("li").each(function () {

            if ($(this).hasClass(".redBox")) {
                $(this).css("border", "red");
                alert($(this).attr(".id"))
            };
        })


        $(".btnSend").on("click", kbb.page.postGoods)

        kbb.page.postGoods = function () {

            var theGoods = $()


            $.ajax({

                type: "POST",
                dataType: "json",
                contentType: "application/json",
                url: "ajaxPage.aspx",
                data: theGoods

            })
        }

    </script>








    <footer class="footer">

        <p class="text-center">&copy; @DateTime.Now.Year - Created By Don Le</p>

    </footer>

</body>

</html>
